#utama{
    width: 80%;
    height: 450px;
    margin : 0 auto;
    padding-top: 5px;
    padding-left: 10px;
    /*border-style: solid;*/
}
.dataBuku{
    width: 205px;
    height: 185px;
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
    padding-left: 5px;
    padding-top: 5px;
    color: #ffb400;
    cursor: pointer;
    background-color: #2d4059;
    border-style: solid;
    border-color: #f6f6f6;
    border-radius: 5px;
}
.kuantiti{
    width: 35px;
    height: 22px;
    display: none;
}
.submit{
    width: 65px;
    height: 23px;
    background-color: #f6f6f6;
    color: #ea5455;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}
#img-keranjang{
    width: 139px;
    height: 35px;
    float: right;
}
#img-keranjang img{
    width: 25px;
    height: 25px;
}
   